@model BackendService.Services.SearchModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.SearchString)
    <input type="submit" value="Go!" />
}

<br/>

@if (Model.Results != null)
{
    if (Model.Results.Any())
    {
        <table class="table">
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        <p>@item.Name</p>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No results</p>
    }
}
